!!! 5
html(xmlns='http://www.w3.org/1999/xhtml')
head
  title GiveMeTempo
    meta(name='viewport', content='width=device-width,user-scalable=yes')
script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
script(src='/socket.io/socket.io.js')
script(src='/javascripts/jquery-collision.js')
h1= title
p Mobile Welcome to #{title} #{key}
//input(type='button', id="change_btn", value="click")
#content
    h1 Match it
      #sphere
      ul
        li
          | acceleration x:
          span#accelerationX
          | g
        li
          | acceleration y:
          span#accelerationY
          | g
        li
          | acceleration z:
          span#accelerationZ
          | g
        li
          | rotation alpha:
          span#rotationAlpha
          | degree
        li
          | rotation beta:
          span#rotationBeta
          | degree
        li
          | rotation gamma:
          span#rotationGamma
          | degree
      | test:
      span#test
      #touch.obstacle


script.
    //var socket = io.connect(process.env.IP+":"+process.env.PORT);
    var socket = io.connect(window.location.hostname);
    "undefined" != typeof console && console.log("user enter via mobile");
 
    "undefined" != typeof console && console.log("enter mobile page");
    socket.emit("send", {
        key: '#{key}',
        act: "enter"
    });
 
    $("#change_btn").click(function(){
        "undefined" != typeof console && console.log("send change color command");
        socket.emit("send", {
            key: '#{key}',
            act: "changebg"
        });
    });
script(type='text/javascript')
      var x = 0, y = 0,
      vx = 0, vy = 0,
      ax = 0, ay = 0;
      var sphere = document.getElementById("sphere");
      if (window.DeviceMotionEvent != undefined) {
      window.ondevicemotion = function(e) {
      ax = event.accelerationIncludingGravity.x * 5;
      ay = event.accelerationIncludingGravity.y * 5;
      document.getElementById("accelerationX").innerHTML = e.accelerationIncludingGravity.x;
      document.getElementById("accelerationY").innerHTML = e.accelerationIncludingGravity.y;
      document.getElementById("accelerationZ").innerHTML = e.accelerationIncludingGravity.z;
      if ( e.rotationRate ) {
      document.getElementById("rotationAlpha").innerHTML = e.rotationRate.alpha;
      document.getElementById("rotationBeta").innerHTML = e.rotationRate.beta;
      document.getElementById("rotationGamma").innerHTML = e.rotationRate.gamma;
      }
      }
      setInterval( function() {
      var landscapeOrientation = window.innerWidth/window.innerHeight > 1;
      if ( landscapeOrientation) {
      vx = vx + ay;
      vy = vy + ax;
      } else {
      vy = vy - ay;
      vx = vx + ax;
      }
      vx = vx * 0.98;
      vy = vy * 0.98;
      y = parseInt(y + vy / 50);
      x = parseInt(x + vx / 50);
      boundingBoxCheck();
      sphere.style.top = y + "px";
      sphere.style.left = x + "px";
      }, 25);
      }
      function boundingBoxCheck(){
      if (x<0) { x = 0; vx = -vx; }
      if (y<0) { y = 0; vy = -vy; }
      if (x>document.documentElement.clientWidth-20) { x = document.documentElement.clientWidth-20; vx = -vx; }
      if (y>document.documentElement.clientHeight-20) { y = document.documentElement.clientHeight-20; vy = -vy; }
      }
      
      function showOverlap(){
         var collisions = $("#ball").collision( ".obstacle", { relative: "collider", obstacleData: "odata", colliderData: "cdata", directionData: "ddata", as: "<div/>" } );
         for( var i=0; i<collisions.length; i++ ){
            var o = $(collisions[i]).data("odata");
		    var c = $(collisions[i]).data("cdata");
		    var d = $(collisions[i]).data("ddata");
         }
      }

    
    
    
    